/* https://coolors.co/c97064-bca371-a6b07e-68a357-32965d */
/* #c97064 #bca371 #a6b07e #68a357 #32965d
                   #e9e0cf
 */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap');

body {
  background: #bca371;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  font-weight: 100;
}

div.container {
  margin: 20px;
  background: #e9e0cf;
  padding: 20px;
}

div#result {
  background: #FFF;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #CCC;
  text-align: left;
}

table th, table td {
  padding: 2px 10px;
}

div#form-container div {
  margin-bottom: 20px;
}

div#form-container span {
  display: inline-block;
  min-width: 150px;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
}

button#generate {
  background: #c97064;
  color: white;
}

button#export {
  background: #32965d;
  color: white;
}
